<h1> hello </h1>

<%= form_for(order_product) do |form| %>
  How many? : <%= form.text_field :quantity %>

  <%= form.fields_for product do |fform| %>
    Product name : <%= fform.text_field :name %>

  <% end %>
  <%= form.button :submit %>
<% end %>
