<h1> hello </h1>

<%= form_for(order) do |form| %>
  <%= form.fields_for :order_products, @order.order_products do |fform| %>
    <%= fform.select :product_id, @products.map {|p| [p.name, p.id]}  %>
      How many? : <%= fform.text_field :quantity %>
    <% end %>
  <%= form.button :submit %>
<% end %>
