<div onmouseenter="showQuantityControl('<%= product.id %>'), showProductQuantity('<%= product.id %>')" onmouseleave="hideQuantityControl('<%= product.id %>'), hideProductQuantity('<%= product.id %>')" class="row">
  <div class="col-xs-12">
    <div class="card product-info" style="width: 150px; height: 150px; background-image: cover; background-image: url('<%= product.url %>'); background-size: 100%">
      <div class="card-category" id='<%= product.id %>'> </div>

      <div>
        <div id='product-quantity-bubble-<%= product.id %>' class="product-quantity-bubble">
        </div>
      </div>

      <div id="product-quantity-<%= product.id %>" class="item-quantity">
        <div class="product-quantity" id="product-quantity-value-<%= product.id %>"></div>
        <div class="in-cart">in cart</div>
      </div>

      <div data-product-id="<%= product.id %>" data-quantity=0 class="quantity-control" id='quantity-<%= product.id %>'>
        <span onclick="subtractOne('<%= product.id %>')" class="square subtract add-button" style="font-size: 10px;"><i class="fa fa-minus"></i></span>
        <span onclick="addOne('<%= product.id %>')" class="square add add-button" style="font-size: 10px;"><i class="fa fa-plus"></i> ADD</span>
      </div>
    </div>
    <div class="product-card">
      <h5><%= product.name %></h5>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>

    var orderProducts = {}

    function escapeHtml(text) {
      var map = {
        '&': '&amp;',
        '<': '&lt;',
        '>': '&gt;',
        '"': '&quot;',
        "'": '&#039;'
      };

      return text.replace(/[&<>"']/g, function(m) { return map[m]; });
    }

    function createOrderProducts(id) {
      var jsonOrderProducts = JSON.stringify(orderProducts);

      var form = $('<form enctype="application/json" action="/order/add_to_cart/" method="POST">' +
        '<input type="hidden" name="json" value="' + escapeHtml(jsonOrderProducts) + '">' +
        '<input type="hidden" name="id" value="' + id + '">' +
        '</form>');

      $(document.body).append(form);
      form.submit();

      console.log(form.submit());
    }


    function addOne(id) {
      var newQuantity = $('#quantity-' + id).data('quantity') + 1
      $('#quantity-' + id).data('quantity', newQuantity);
      orderProducts[id] = newQuantity;
      if ( orderProducts[id] > 0 ) {
        $('#product-quantity-value-' + id).text(orderProducts[id]);
        $('#product-quantity-bubble-' + id).text(orderProducts[id]);
        // $('#product-quantity-bubble-' + id).show();
        $('#' + 'product-quantity-' + id).show();
      }
    };

    function subtractOne(id) {
      var quantity = $('#quantity-' + id).data('quantity')
      if ( quantity > 1 ) {
        var newQuantity = quantity - 1
        $('#quantity-' + id).data('quantity', newQuantity)
        orderProducts[id] = newQuantity;
        $('#product-quantity-value-' + id).text(orderProducts[id]);
        $('#product-quantity-bubble-' + id).text(orderProducts[id]);
      }
      else {
        $('#quantity-' + id).data('quantity', 0)
        orderProducts[id] = newQuantity;
        delete orderProducts[id];
        $('#' + 'product-quantity-' + id).hide();
        $('#product-quantity-bubble-' + id).hide();
      }
      var subtractQuantity = $('#quantity-' + id).data('quantity') - 1
      $('#quantity-' + id).data('quantity', newQuantity)
      console.log(  $('#quantity-' + id).data('quantity')  );
    };

    // define functions below
    function addItem(id) {
      $.ajax({
        type:'GET',
        url:'/orders/claim',
        data: { id: id },
        success:function(){
          console.log("Done");
        }
      });
      $('#' + 'confirm-' + id).hide();
      $('#' + 'container-' + id).slideUp();
    }

    $('.quantity-control').hide();
    $('.item-quantity').hide();
    $('.product-quantity-bubble').hide();


    function showQuantityControl(id) {
      if ( orderProducts[id] > 0 ) {
        // $('#product-quantity-value-' + id).text(orderProducts[id]);
        $('#' + 'product-quantity-' + id).show();
        $('#' + 'product-quantity-bubble-' + id).hide();
      }
    }

    function hideQuantityControl(id) {
      $('#' + 'product-quantity-' + id).hide();
      if (orderProducts[id] > 0) {
        $('#' + 'product-quantity-bubble-' + id).show();
      }
    }

///////////////////////////
    function hideProductQuantityBubble(id) {
      $('#' + 'product-quantity-bubble-' + id).hide();
    }

    function showProductQuantity(id) {
      $('#' + 'quantity-' + id).show();
    }

    function hideProductQuantity(id) {
      $('#' + 'quantity-' + id).hide();
    }

    function hideThis(id) {
      $("#" + id).parent('div').hide();
      $('#' + 'card-' + id).removeClass('fade');
    }

    function showThis(id) {
      $("#" + id).parent('div').fadeIn();
    }

  </script>
<% end %>
