<% if orders.count === 0 %>
<div class="fadeinwords">
Welcome, <%= current_user.first_name.capitalize%>! |It looks like you haven't created an order yet. |To create your first order click |<%= link_to "HERE", new_order_path %>
</div>

<% else %>
<h3> Your orders </h3>
<% orders.each do |order| %>
  <div>
    <h5> Order-id: <%= order.id  %> </h5>
    <h5> Order -  status: <%= order.status %> </h5>
    <h5> delivery date: <%= order.delivery_date %> </h5>
    <h5> <%= link_to "See Order", order_path(order) %></h5>
  </div>
<% end %>
<h3> <%= link_to "New Order", new_order_path %></h3>
<% end %>

