

<h3> Mail: <%= customer.user.email %> Update  </h3>
<h3> Phone: <%= customer.phone_number %> Add </h3>
<h3> customer_id: <%= customer.id %> </h3>
<h3> user_id: <%= customer.user_id %> </h3>
<h3> Want to change your password? Click <%= link_to "here", edit_user_registration_path %></h3>

