<h3>Order history</h3>
<br/>
Delivered orders
<% @orders.where(aasm_state: 'delivered').each do |order| %>

<div class="">
  <h4> Order-id: <%= order.id  %> </h4>
  <h4> Order -  status: <%= order.aasm_state %> </h4>
  <h4> delivery date: <%= order.delivery_date %> </h4>
  <h4> Your driver was <%= order.driver.user.first_name %></h4>
  <h4> <%= link_to "See Order", order_path(order) %></h4>
</div>

<% end %>

