<h1> Your orders </h1>
<% orders.each do |order| %>
  <div>
    <h3> Order-id: <%= order.id  %> </h3>
    <h3> Order -  status: <%= order.status %> </h3>
    <h3> delivery date: <%= order.delivery_date %> </h3>
    <h3> <%= link_to "See Order", order_path(order) %></h3>
  </div>
<% end %>
<h3> <%= link_to "New Order", new_order_path %></h3>
