<h1>Order history</h1>
<br/>
<% if @orders.where(aasm_state: 'delivered').empty? %>
<h3>You have no delivered orders yet. Get started and create your order <%= link_to "here", new_order_path %></h3>
<% else %>
Delivered orders
<% @orders.where(aasm_state: 'delivered').each do |order| %>

<div class="">
  <h4> Order-id: <%= order.id  %> </h4>
  <h4> Order -  status: <%= order.aasm_state %> </h4>
  <h4> delivery date: <%= order.delivery_date %> </h4>
  <h4> Your driver was <%= order.driver.user.first_name %></h4>
  <h4> <%= link_to "See Order", order_path(order) %></h4>
</div>

<% end %>

<% end %>
