
<div class="card1" style="background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.2)), url('<%= asset_path "banner.jpg"%>');">
  <img src="<%= asset_path "Pharmago15.png"%>" class="pharmagologo">

  <div class="box searchform">
    <div class="container-3">
      <span class="icon"><i class="fa fa-search"></i></span>
      <input type="search" id="search" placeholder="What can we get for you today?" />
    </div>
  </div>

</div>
<div class="wrapper" style="background-color: #ededed">
  <div class="row">
    <div class="col-xs-3">
      <div class="tabs-container">

        <div class="tab" data-target="#suggestedcats"> <!-- lav underDivs se instacart -->
          <div class ="col-xs-1"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Suggested Categories</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#allmedicines">
          <div class ="col-xs-1"><i class="fa fa-medkit" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>All medicines</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#categories">
          <div class ="col-xs-1"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Categories</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div class="tab" data-target="#yourbasket">
          <div class ="col-xs-1"><i class="fa fa-shopping-cart" aria-hidden="true"></i></div>
          <div class ="col-xs-7 col-xs-offset-1 dashboard-text"><h4>Go to Basket</h4></div>
          <div class ="col-xs-3 text-right"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
        </div>
        <div>
          <button type="button" class="btn checkout-button btn-block" onclick="createOrderProducts('<%= @order.id %>')" id="create-order-'<%= @order.id %>'">
            Checkout
          </button>
        </div>
      </div>
    </div>
    <div class="context-container col-xs-8">
      <div class="tab-content active" id="suggestedcats">
        <%= render 'suggested_categories_show', orders: @orders, product: @product %>
      </div>
      <div class="tab-content hidden" id="allmedicines">
        <%= render 'all_medicines', order: @order, product: @product  %>
      </div>
      <div class="tab-content hidden" id="categories">
        <%= render 'suggested_categories_show', order: @order, product: @product  %>
      </div>
      <div class="tab-content hidden" id="yourbasket">
        <%= render 'your_basket', order: @order, product: @product, order_product: @order_product  %>
      </div>
    </div>

  </div>
</div>


<% content_for(:after_js) do %>
<script>

  $(document).ready(function () {
    $(function(){

      $(".tab").on("click", function(e){
        // Change active tab
        $('.tab').removeClass('active')
        $(this).addClass('active')

        // Hide all tab-content (use class="hidden")
        $('.tab-content').addClass('hidden')

        // Show target tab-content (use class="hidden")
        var id = $(".active").data("target")
        $(id).removeClass('hidden')
      });
    });
  });
  $('.addproduct').hide();
  function showAddDiv(id) {
    $('#add-' + id).show();
  }
  function hideDiv(id) {
    $('#add-' + id).hide();
  }
</script>
<% end %>

