<div class="dashboard-wrapper">
  <div class="row">
  <h1 class="text-center">Order overview</h1>
  <hr/>
    <div class="col-xs-offset-2 col-xs-4">
      <div class="checkout-content-container">
          <h3> Products in cart:</h3>
          <hr/>
          <% @order.products.each do |product| %>
          <li><%= product.name %></li>
          <% end %>
        </ul>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="checkout-content-container">
          <% if current_user.customer.customer_addresses.empty? %>
          <div id="order-address-form">
            <h4> Please enter delivery address:</h4>
            <%= simple_form_for @customer_address, url: customer_customer_addresses_path(@customer), remote: true do |f| %>
            <%= f.input :address %>
            <%= f.submit "add address", class: "btn btn-primary", id: "address-submit" %>
            <% end %>
          </div>
          <% else %>
          <div>
            <h3 id="checkout-address">Delivery address:</h3>
            <h4> <span id="front-customer-address"> <%= current_user.customer.customer_addresses.last.address %> </span> </h4>
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#EditAddressModal">
              Change
            </button>
          </div>
          <% end %>
          <button type="button" class="btn btn-primary btn-md col-xs-12" data-toggle="modal" data-target="#ConfirmModal" id="confirm-modal-button">
            Review order and checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Update address modal -->
<div class="modal fade(1000) text-center" id="EditAddressModal" tabindex="-1" role="dialog" aria-labelledby="testLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Review</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h3>Enter new delivery address</h3>
          <%= simple_form_for @customer_address, url: customer_customer_addresses_path(@customer), remote: true do |f| %>
          <%= f.input :address, placeholder: 'E.g Orla Lehmanns allé 8, 1. 8000 Aarhus C' %>
          <%= f.submit "Update address", class: "btn btn-success btn-block", id: "address-submit" %>
          <% end %>
        </div>
        <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal"></button> -->
        <!-- <button type="button" class="btn btn-success">Confirm</button> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<!-- final checkout modal -->
<div class="modal fade(1000) text-center" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h4>Products:</h4>
          <% @order.products.each do |product| %>
          <li><%= product.name %></li>
          <% end %>
          <h4>Address: <span id="confirm-modal-address"> </span> </h4>
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal"></button> -->
          <button type="button" class="btn btn-success btn-block">Confirm</button>
        </div>
      </div>
    </div>
  </div>
</div>
