<div class="dashboard-wrapper">
  <div class="row">
    <h1 class="text-center">Order overview</h1>
    <hr/>
    <div class="col-xs-offset-1 col-xs-6">
      <div class="checkout-product-container">
        <h3> Products in cart:</h3>
        <hr/>
        <%# raise %>
        <% @order.order_products.each do |order_product| %>
        <li>
          <p> <%= order_product.quantity %> </p>
          <p> <%= order_product.product.name %> </p>
          <!-- show small pic? -->
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-xs-4">
    <div class="checkout-content-container-address">
      <% if current_user.customer.customer_addresses.empty? %>
      <h4> Please enter delivery address:</h4>
      <div id="order-address-form">
        <h4> <strong> <%= current_user.first_name + " " + current_user.last_name %> </strong> </h4>
        <%= simple_form_for @customer_address, url: customer_customer_addresses_path(@customer), remote: true do |f| %>
        <%= f.input :address, placeholder: 'E.g Orla Lehmanns allé 8, 1. 8000 Aarhus C' %>
        <%= f.submit "add address", class: "btn btn-primary", id: "address-submit" %>
        <% end %>
      </div>
      <% else %>
      <div>
        <h3 id="checkout-address">Delivery address:</h3>
        <h4> <strong> <%= current_user.first_name + " " + current_user.last_name %> </strong>  </h4>
        <h4> <span id="front-customer-address"> <%= current_user.customer.customer_addresses.last.address %> </span> </h4>
        <button type="button" class="btn update-address-button btn-sm" data-toggle="modal" data-target="#EditAddressModal">
          Change delivery address
        </button>
      </div>
      <% end %>
      <br>
      <button type="button" class="btn checkout-button btn-block" data-toggle="modal" data-target="#ConfirmModal" id="confirm-modal-button">
        Review order and checkout
      </button>
    </div>
  </div>
</div>
</div>
</div>

<!-- Update address modal -->
<div class="modal fade(1000) text-center" id="EditAddressModal" tabindex="-1" role="dialog" aria-labelledby="testLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Enter new delivery address</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <%= simple_form_for @customer_address, url: customer_customer_addresses_path(@customer), remote: true do |f| %>
          <%= f.input :address, placeholder: 'E.g Orla Lehmanns allé 8, 1. 8000 Aarhus C' %>
          <%= f.submit "Update address", class: "btn btn-success btn-block", id: "address-submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- final checkout modal -->
<div class="modal fade(1000) text-center" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Review your order</h4>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <h4> <strong> <%= current_user.first_name + " " + current_user.last_name %> </strong> </h4>
          <h4> <%= current_user.email %> </h4>
          <h4> <span id="confirm-modal-address"> </span> </h4>
          <h4>Products:</h4>
          <% @order.products.each do |product| %>
          <li><%= product.name %></li>
          <% end %>
        </div>
        <h3> Finalize order and pay below </h3>
        <hr/>
        <%= form_tag order_payments_path(@order) do %>
        <article>
          <label class="amount">
            <span>Total amount: <%= humanized_money_with_symbol(@order.amount) %></span>
            </label>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-name="My Order"
            data-email="<%= current_user.email %>"
            data-description="Order <%= @order.id %>"
            data-amount="<%= @order.amount_cents %>"
            data-currency="<%= @order.amount.currency %>"></script>
        <% end %>
        <br>
        <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-default" data-dismiss="modal"></button> -->
          <!-- <button type="button" class="btn checkout-button btn-block">Place order</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
<script>
  console.log("yolo")
  <% if current_user.customer.customer_addresses.empty? %>
  $("#confirm-modal-button").addClass("hidden")
  <% else %>
    $("#confirm-modal-button").click(function () {
      console.log("main jquery")
      var newAddress = $("#front-customer-address").text()
      $("#confirm-modal-address").html(newAddress);
    });
  <% end %>


</script>
<% end %>
s
