<div class="banner" style="background: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.2) 50%), url( <%= image_path('delivery.jpg') %> );">

  <div class="login test">
    <%= image_tag 'pharmago.png', id: 'logo'  %>
    <br>
    <br>
    <h4>Work on your own schedule and earn <strong> sweet </strong>dollars</h4>
    <h5 style="padding-bottom: 10px;">Sign up to our service</h5>
    <div style="padding-left: 50px; padding-right: 50px;">
      <%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
        <div class="form-group">
          <%= f.label :country_code %>
          <%= f.text_field :country_code, class: "form-control", id: "authy-countries" %>
        </div>
        <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, class: "form-control", id: "authy-cellphone" %>
        </div>
      </div>

      <div class="form-actions" style="padding-bottom: 10px;">
        <%= f.button :submit, "Sign up as a driver" %>
      </div>
      <% end %>
    </div>
    <div>
      <h5>Already a User? Click <%= render "devise/shared/links" %></h5>
    </div>
  </div>
</div>
