<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url( <%= image_path('doctor.jpg') %> );">
  <div class="login test">
    <h1 style="font-size: 50px;">Pharmago</h1>
    <h2>Order prescreption drugs with <strong> one </strong>click</h2>
    <h3 style="padding-bottom: 10px;">Sign up to our service</h3>
    <div style="padding-left: 50px; padding-right: 50px;">
      <%= simple_form_for(User.new, as: :user, url: registration_path(:user)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>
        <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.input :password_confirmation, required: true %>
      </div>

      <div class="form-actions" style="padding-bottom: 10px;">
        <%= f.button :submit, "Sign up as a driver" %>
      </div>
      <% end %>
    </div>
    <div>
      <h5>Already a User? Click <%= render "devise/shared/links" %></h5>
    </div>
  </div>
</div>
